body {
    overflow-x: hidden;
    margin: 0;
    background-color: azure;
}

.animation {
    position: fixed;
    bottom: 0;
    left: 0;
}

.container {
    position: relative;
}

img {
    display: block;
    position: absolute;
}

.s-900 {
    width: 900px;
}

.s-300{
    width: 300px;
}

.camion {
    margin-top: 170px;
    margin-bottom: 20px;
    margin-left: 75%;
    width: 400px;
}